.graphic__item {
	display: inline-block;
}

#parameters td {
	border: 1px solid black;
}

#info {
	float: left;
}

#form {
	float: left;
	padding-left: 20px;
}

#form div p {
	margin-top: 0px;
}

/* Graphic__item classes */
.inactive {
	opacity: 0.1;
}

.in_process {
	filter: invert(86%) sepia(11%) saturate(4025%) hue-rotate(48deg) brightness(91%) contrast(106%);
}

.completed {
	filter: invert(93%) sepia(6%) saturate(3286%) hue-rotate(9deg) brightness(97%) contrast(119%);
}

